.art-controls {
  --art-control-height: 46px;
  --art-control-width: 46px;
}

@media (max-width: 768px) {
  .art-controls {
    --art-control-height: 36px;
    --art-control-width: 36px;
  }
}

[class^="art"] {
  z-index: 0 !important;
}
